.container-height {
  height: 90vh;
  flex-direction: column;
}

.flex {
  display: flex;
  margin-left:auto;
  margin-right:auto;
  color: white;

}


.landingimage{
  background-image: url("./solidbaige.png");
  background-position: center;
  background-size: cover;
  color: purple;
}

.blacktext h1{
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: bold;
}

.blacktext2 p{
  color: rgb(0, 0, 0);
}

.padded-bottom {
  padding-bottom: 15px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #4D1137;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #4D1137;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}