.container-height {
  height: 90vh;
  flex-direction: column;
}

.spacing-bottom {
  padding-bottom: 15px;
}

.spacing-right {
  padding-right: 38px;
}

/* .spacing-left {
  padding-left: 50px;
} */

.white {
  /* background-color: rgb(237, 147, 202); */
  background-color: white;
  border-radius: 5px;
}

.center-blue {
  background-color: rgb(139, 209, 230);
  border-radius: 5px; /*curved border */

  /* Center on screen */
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.center{
  text-align: center;
}

body {
  background-color: rgb(26, 191, 242);
}
