.container-height {
  height: 90vh;
  flex-direction: column;
}
body {
  background-color: rgb(139, 209, 230);
}
.blacktext h1{
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: bold;
}
.blacktext2 p{
  color: rgb(0, 0, 0);
}
.padded-bottom {
  padding-bottom: 10px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #4D1137;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #4D1137;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
